<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue/vue.js"></script>

</head>

<body>
    <div id="app">
        <!-- 需求是根据输入的姓名从数组中过滤出符合要求的姓名并渲染 -->

        请输入姓 <input type="text" v-model="name" >
        <h3>符合条件的姓名</h3>

        <p v-for="item in newName" :key="index">{{item}}</p>

    </div>
    <script>

        const app = Vue.createApp({
            data() {
                return {
                    name: '',
                    names: ['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff'],
                    newName:[]
                }
            },
            watch: {
                // num: function (newVal, oldVal) {
                //     console.log(newVal, oldVal)
                // }

                //监控name变化从数组中筛选并展出第二个旧址不要可以删除
                name(newVal) {
                    for (let i = 0; i < this.names.length; i++) {
                        if (this.names[i].startsWith(newVal)) {
                          this.newName.push(this.names[i])
                        }
                    }
                }
            }
        })
        app.mount("#app");
    </script>
</body>

</html>